<p id="notice"><%= notice %></p>

<h1 class="display-1">Welcome Event Manager</h1>
<h4>The list of events are:</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Venue</th>
      <th>Eventdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, details_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.venue %></td>
        <td><%= event.eventdate %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-light"><%= link_to 'New Event', new_event_path %></button>
